*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(50, 50, 50);
}

.App{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    min-height: 280px;
    min-width: 280px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    font-family: sans-serif;
    justify-content: space-between;
    

    .panel{
        width: 100%;
        text-align: right;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
        padding: 10px 20px;
        background-color: rgb(150, 150, 150);
        border: none;
        p{  
            font-size: 1em;

            min-height: 25px;
            &.result{
                font-size: 1.7em;
            }
        }
    }
    .delete {
        display: flex;
        width: 100%;
        button{
            width: 100%;
            padding: 10px;
            background-color: rgb(70,70,70);
            border: none;
            color: white;
            transition: .3s;
            text-transform: uppercase;
            margin-bottom: 2px;

            &:hover{
                background-color: rgb(200,70,70);
                box-shadow:  0 0 5px black;
            }
        }
    }
    .numbers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(66.66% - 5px);
        border: none;
        button{
            padding: 10px;
            width: calc(33.33% - 4px);
            margin: 2px;
            background-color: rgb(30,30,30);
            color: white;
            border: none;
            transition: .3s;

            &:hover{
                background-color: rgb(70,70,70);
                box-shadow:  0 0 2px black;
            }

            &:nth-child(3n-2){
                margin-left: 0;
            }

            &:nth-child(3n){
                margin-right: 0;
            }

            &:last-child{
                background-color: rgb(120,255,120);
                color: black;

                &:hover{
                    background-color: rgb(70,255,70);
                    box-shadow:  0 0 5px black;
                }
            }
        }
    }
    .operation{
        width: calc(33.33% - 2px);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        button{
            border: none;
            margin: 2px;
            width: calc(50% - 2px);
            background-color: rgb(100,100,205);
            color: white;
            
            &:hover{
                background-color: rgb(80,80,255);
                box-shadow:  0 0 2px black;
            }

            &:nth-child(2n-1){
                margin-left: 0;
            }
            &:nth-child(2n){
                margin-right: 0;
            }
        }
    }
}